:root {
  --black: #1a1d21;
  --link-icon: #f7fd92;
  --bg-time: #f1f5a0;
}
body {
  min-height: 100vh;
  margin: auto;
  background: #f7f5ef;
}
header,
footer {
  background: var(--black);
}
.container {
  max-width: 1200px;
}
.dynamic-filter-list-container #dynamic-filter-list p {
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .dynamic-filter-list-container #dynamic-filter-list {
    margin-left: 0.5rem;
  }
}
.dynamic-filter-list-container #dynamic-filter-list {
  margin-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 55px;
}
.dynamic-filter-list-container {
  padding: 25px 40px;
  background: #fff;
  box-shadow: 0 3px 0 1px var(--black);
  border-radius: 10px;
  position: relative;
  min-height: 500px;
  border: 1px solid var(--black);
}
.dynamic-filter-list-container .header {
  background: var(--black);
}
.title-method {
  color: #fff;
  margin-bottom: 0;
}
.dynamic-filter-list-container ul.info-card-holder {
  padding: 0;
}
.dynamic-filter-list-container ul.info-card-holder li {
  padding: 1rem 0;
}
.dynamic-filter-list-container ul.info-card-holder li .copyBtn {
  background: #a2a6a9;
  border: #a2a6a9;
  color: #fff;
}
.dynamic-filter-list-container ul.info-card-holder li .copyBtn:hover {
  background: var(--black);
  border: var(--black);
}
.dynamic-filter-list-container ul.info-card-holder .line-detail {
  border-top: 1px dashed #d4d4d4;
  background-color: #f3f3f3;
}
.qr-code img {
  max-width: 300px;
}
.dynamic-filter-list-container .filter-content-box:has(p) {
  line-height: 1.5;
}
.dynamic-filter-list-container .filter-content-box {
  z-index: 1;
  display: none;
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 10px;
  overflow: hidden;
}

.filter-content-close {
  border-radius: 36px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  text-decoration: none !important;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 27px;
  width: 27px;
  background: #fff;
  padding: 20px;

  text-align: center;
  z-index: 1;
}
/* @media screen and (max-width: 992px) {
  .filter-content-close {
    right: 12px;
    top: 12px;
    opacity: 0.8;
  }
} */
.filter-content-close .second-stright,
.filter-content-close .first-stright {
  width: 60%;
  height: 2px;
  background: #1c1c1d;
  position: absolute;
  border-radius: 10px;
  -ms-transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}
.filter-content-close .first-stright {
  right: 8px;
}
.filter-content-close .second-stright {
  transform: translateY(-50%) rotate(45deg);
  left: 8px;
}
#dynamic-filter-input {
  width: 100%;
  border: 0;
  height: 53px;
  padding-left: 55px;
  font-weight: 500;
  outline: 0;
  font-size: 16px;
  background: #fff;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  color: #21282b;
}
#dynamic-filter-list {
  padding-left: 0;
  margin-bottom: 0;
}
#dynamic-filter-list li {
  list-style: none;
  border: 1px solid var(--black);
  cursor: pointer;
  transition: 0.1s all;
}
#dynamic-filter-list li:hover {
  background: var(--black);
  text-decoration: none;
}
#dynamic-filter-list li:hover p {
  color: #fff;
}
#dynamic-filter-list li p {
  width: 100%;
  padding: 11px 10px;
  border-radius: 5px;
  font-weight: 500;
  color: #13151c;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dynamic-filter-container {
  position: relative;
  margin-bottom: 5px;
  box-shadow: 0 3px 0 1px var(--black);
  border-radius: 10px;
  border: 1px solid var(--black);
}
.dynamic-filter-container .btn.search {
  min-height: 30px;
  min-width: 50px;
  background: var(--black);
  border: var(--black);
  color: #fff;
  position: absolute;
  right: 16px;
  z-index: 2;
}
.dynamic-filter-container .btn.search:hover {
  background: #3f3d3d;
  border: #3f3d3d;
}
.dynamic-filter-container .search-img {
  position: absolute;
  top: 17px;
  font-size: 18px;
  color: #a7afb3;
  left: 16px;
  z-index: 2;
}

.dynamic-filter-min-height {
  display: block !important;
}
.logo-momo,
.logo-vcb,
.logo-mbb {
  width: 70px;
  min-height: 50px;
}
.logo-acb {
  width: 100px;
  min-height: 50px;
}
.expire-content {
  margin-top: 16px;
  border-radius: 8px;
}
.expire-content .box-expire {
  background-color: var(--bg-time);
  border-radius: 8px;
  border: 1px solid var(--bg-time);
}
.expire-content .box-expire .expire-text {
  padding: 20px;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: var(--black);
}
.support a {
  color: var(--black);
}
.contentWapper_card {
  min-height: 500px;
}
.contentWapper_card.momo {
  background-image: url(./images/patterns-top.svg),
    url(./images/patterns-right-top.svg),
    url(./images/patterns-right-bottom.svg),
    linear-gradient(to top, #fff, #fffbfe);
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
  background-position: left top, right top, right bottom;
}
.contentWapper_card.vcb {
  background-image: url(./images/bg-vcb.svg),
    linear-gradient(to top, #fff, #f2fff7);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.contentWapper_card.acb {
  background: url(./images/bg-acb.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contentWapper_card.mbb {
  background-image: url(./images/bg-mbb.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
